In [10]:
# import packages
import geopandas as gpd
import os
from requests import get
from urllib.parse import urlparse
import pandas as pd
from pyproj import Transformer

In [3]:
def cache_data(src:str, dest:str) -> str:
    """
    Downloads a file from the given URL `src` and saves it to the `dest` directory.
    If the file already exists and is of sufficient size, skips the download.
    
    Args:
        src (str): The source URL of the file to be downloaded.
        dest (str): The destination directory where the file will be saved.
        
    Returns:
        str: The full path to the downloaded (or existing) file.
    """    
    url = urlparse(src) # We assume that this is some kind of valid URL 
    fn  = os.path.split(url.path)[-1] # Extract the filename
    dfn = os.path.join(dest,fn) # Destination filename
    
    if not os.path.isfile(dfn) or os.path.getsize(dfn) < 250:
        
        print(f"{dfn} not found, downloading!")

        path = os.path.split(dest)
        
        if len(path) >= 1 and path[0] != '':
            os.makedirs(os.path.join(*path), exist_ok=True)
            
        with open(dfn, "wb") as file:
            response = get(src)
            file.write(response.content)
            
        print("\tDone downloading...")

    else:
        print(f"Found {dfn} locally!")

    return dfn

In [4]:
# listing data,choose the data of 2024
ymd  = '20240614'
city = 'London'
host = 'https://orca.casa.ucl.ac.uk'
list_url  = f'{host}/~jreades/data/{ymd}-{city}-listings.parquet'
transport_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/Transport_Classification_of_Londoners_(TCoL)/Transport_Classification_of_Londoners_(TCoL).shp'
inequity_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/Borough_pages_data_UPDATE_9_2024_HACTAR(1).csv'
pop_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/population%20by%20borough.xlsx'
sta_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/London%20stations/London%20stations.shp'
line_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/London%20Train%20Lines/London%20Train%20Lines.shp'
borough_url = 'https://github.com/Chocolateyz/Chocolate/raw/refs/heads/main/Boroughs.gpkg'

In [5]:
# the data frame of datas
listing_df = pd.read_parquet(cache_data(list_url, os.path.join('data','raw')))
# inequity data
inequity = pd.read_csv(cache_data(inequity_url, os.path.join('data','raw')),skiprows=11, header=0)
# population data
pop = pd.read_excel(cache_data(pop_url, os.path.join('data','raw')))
# borough outline
borough = gpd.read_file(cache_data(borough_url, os.path.join('data','raw')))

# station point data
station = gpd.read_file(sta_url)
# train line data
line = gpd.read_file(line_url)
# transport data, spatial unit is OA(output area)
transport = gpd.read_file(transport_url)

Found data/raw/20240614-London-listings.parquet locally!
Found data/raw/Borough_pages_data_UPDATE_9_2024_HACTAR(1).csv locally!
Found data/raw/population%20by%20borough.xlsx locally!
Found data/raw/Boroughs.gpkg locally!

In [6]:
# this is the columns list, if you want to focus on a certain topic, choose some of them
# listing data
columns_list = listing_df.columns.to_list()
print(f'listing data columns: {columns_list}')
print(f"Data frame is {listing_df.shape[0]:,} x {listing_df.shape[1]}")
# transport data
columns_transport = transport.columns.to_list()
print(f'transport data columns: {columns_transport}')
# inequity data
columns_inequity = inequity.columns.to_list()
print(f'inequity data columns: {columns_inequity}')
# population data
columns_pop = pop.columns.to_list()
print(f'population data columns: {columns_pop}')
# station data
columns_station = station.columns.to_list()
print(f'station data columns: {columns_station}')
# line data
columns_line = line.columns.to_list()
print(f'line data columns: {columns_line}')
# borough outline
columns_borough = borough.columns.to_list()
print(f'borough data columns: {columns_borough}')

listing data columns: ['id', 'listing_url', 'last_scraped', 'name', 'description', 'host_id', 'host_name', 'host_since', 'host_location', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'availability_365', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'reviews_per_month']
Data frame is 85,127 x 31
transport data columns: ['OBJECTID', 'TCOL_SEGME', 'TCOL_SEG_1', 'OA_POPULAT', 'SEGMENT_PO', 'LOAC_SUPER', 'LOAC_GROUP', 'LOAC_SUB_G', 'LOCAL_AUTH', 'PROPENSITY', 'PROPENSI_1', 'PROPENSI_2', 'PROPENSI_3', 'CAR_DRIVER', 'CAR_PASSEN', 'BUS_TRIPS_', 'TRAIN_TRIP', 'RIVER_TRIP', 'TRAM_TRIPS', 'TUBE_TRIPS', 'BICYCLE_TR', 'HIRE_BIKE_', 'DLR_TRIPS_', 'POWERED_TW', 'TAXI_PHV_T', 'WALK_TRIPS', 'CAR_AVAILA', 'AVERAGE_IN', 'STUDENT', 'NO_CHILDRE', 'NO_CHILD_1', 'NO_CHILD_2', 'WITH_CHILD', 'WITH_CHI_1', 'WITH_CHI_2', 'RETIRED', 'REDUCED_CA', 'INCREASED_', 'INCREASE_1', 'INCREASE_2', 'INCREASE_3', 'INCREASE_4', 'OA_ID', 'DATA_FILE', 'USER_GUIDE', 'METADATA', 'Shape__Are', 'Shape__Len', 'geometry']
inequity data columns: ['Area', 'Poverty rate', 'Child poverty rate (AHC)', 'Income deprivation (relative to London overall)', '80:20 ratio of earnings', 'Main homelessness duty owed per 1,000 households', 'Households in temporary accommodation per 1,000', 'Repossessions per 1,000 households', 'Median rent as a percentage of median pay', 'Average net affordable, social and discounted housing completions', 'People seen sleeping rough by outreach', "Proportion of borough residents' jobs that are low paid", 'Unemployment rate', 'Unemployment rate 1 year change', 'Out-of-work benefits', '19 year olds without level 3 qualifications', 'Infant mortality rate per 1,000 live births', 'Deaths of <75 year olds per 100,000', 'Percentage of pupils who achieved grade 9-4', 'Proportion with no qualifications']
population data columns: ['GSS_CODE', 'NAME', 'POPULATION']
station data columns: ['Name', 'Link', 'Zone', 'Postcode', 'geometry']
line data columns: ['Name', 'geometry']
borough data columns: ['NAME', 'GSS_CODE', 'HECTARES', 'NONLD_AREA', 'ONS_INNER', 'geometry']

In [17]:
from pyproj import CRS
from shapely.geometry import Point

listing_df['geometry'] = listing_df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
listing_gdf = gpd.GeoDataFrame(listing_df, geometry='geometry', crs="EPSG:4326")
listing_gdf = listing_gdf.to_crs(epsg=27700)

geo_list = listing_gdf[['name','geometry']]

# check result
print(geo_list.head())

                                                name  \
0  Rental unit in Earlsfield · ★4.57 · 1 bedroom ...
1  Rental unit in Hammersmith · ★4.82 · 2 bedroom...
2  Rental unit in Islington · ★4.80 · 1 bedroom ·...
3  Rental unit in London · ★4.80 · 1 bedroom · 1 ...
4  Condo in London · ★4.62 · 1 bedroom · 1 bed · ...

                        geometry
0  POINT (526071.772 173004.347)
1  POINT (523852.404 179394.541)
2  POINT (530899.228 187213.456)
3  POINT (527282.901 178129.531)
4  POINT (539991.817 177170.364)

In [33]:
joined_gdf = gpd.sjoin(geo_list, borough, how="inner", predicate="within")
point_counts = joined_gdf.groupby('GSS_CODE').size().reset_index(name='point_count')
#borough.set_index('GSS_CODE', inplace=True)
#borough.reset_index(inplace=True)

# add point count into borough
borough_list = borough.merge(point_counts, on='GSS_CODE', how='left')

# set zero if there is no point
#borough_list['point_count'].fillna(0, inplace=True)

# view result
print(borough_list)

     GSS_CODE                    NAME   HECTARES  NONLD_AREA ONS_INNER  \
0   E09000021    Kingston upon Thames   3726.117       0.000         F
1   E09000008                 Croydon   8649.441       0.000         F
2   E09000006                 Bromley  15013.487       0.000         F
3   E09000018                Hounslow   5658.541      60.755         F
4   E09000009                  Ealing   5554.428       0.000         F
5   E09000016                Havering  11445.735     210.763         F
6   E09000017              Hillingdon  11570.063       0.000         F
7   E09000015                  Harrow   5046.330       0.000         F
8   E09000005                   Brent   4323.270       0.000         F
9   E09000003                  Barnet   8674.837       0.000         F
10  E09000022                 Lambeth   2724.940      43.927         T
11  E09000028               Southwark   2991.340     105.139         T
12  E09000023                Lewisham   3531.706      16.795         T
13  E09000011               Greenwich   5044.190     310.785         F
14  E09000004                  Bexley   6428.649     370.619         F
15  E09000010                 Enfield   8220.025       0.000         F
16  E09000031          Waltham Forest   3880.793       0.000         F
17  E09000026               Redbridge   5644.225       2.300         F
18  E09000029                  Sutton   4384.698       0.000         F
19  E09000027    Richmond upon Thames   5876.111     135.443         F
20  E09000024                  Merton   3762.466       0.000         F
21  E09000032              Wandsworth   3522.022      95.600         T
22  E09000013  Hammersmith and Fulham   1715.409      75.648         T
23  E09000020  Kensington and Chelsea   1238.379      25.994         T
24  E09000033             Westminster   2203.005      54.308         T
25  E09000007                  Camden   2178.932       0.000         T
26  E09000030           Tower Hamlets   2157.501     179.707         T
27  E09000019               Islington   1485.664       0.000         T
28  E09000012                 Hackney   1904.902       0.000         T
29  E09000014                Haringey   2959.837       0.000         T
30  E09000025                  Newham   3857.806     237.637         T
31  E09000002    Barking and Dagenham   3779.934     169.150         F
32  E09000001          City of London    314.942      24.546         T

                                             geometry  point_count
0   MULTIPOLYGON (((516401.6 160201.8, 516407.3 16...          678
1   MULTIPOLYGON (((535009.2 159504.7, 535005.5 15...         1414
2   MULTIPOLYGON (((540373.6 157530.4, 540361.2 15...          733
3   MULTIPOLYGON (((521975.8 178100, 521967.7 1780...         1203
4   MULTIPOLYGON (((510253.5 182881.6, 510249.9 18...         2084
5   MULTIPOLYGON (((549893.9 181459.8, 549894.6 18...          368
6   MULTIPOLYGON (((510599.8 191689.5, 510615.2 19...          796
7   MULTIPOLYGON (((510599.8 191689.5, 510660 1916...          478
8   MULTIPOLYGON (((525201 182512.6, 525181.5 1825...         2633
9   MULTIPOLYGON (((524579.9 198355.2, 524594.3 19...         2125
10  MULTIPOLYGON (((530046.8 177893.4, 530048.4 17...         4673
11  MULTIPOLYGON (((531335.6 180529.5, 531337.7 18...         4900
12  MULTIPOLYGON (((536691 178958.6, 536691.9 1789...         2503
13  MULTIPOLYGON (((537238.7 178137.7, 537242.6 17...         1858
14  MULTIPOLYGON (((547226.2 181299.3, 547320.9 18...          455
15  MULTIPOLYGON (((531023.5 200933.6, 531039.9 20...          769
16  MULTIPOLYGON (((539923.1 191863.1, 539928.1 19...         1639
17  MULTIPOLYGON (((543595.5 184832.8, 543577.1 18...          793
18  MULTIPOLYGON (((528552.3 159658.1, 528399.7 15...          357
19  MULTIPOLYGON (((516677.5 175383.8, 516678.6 17...         1222
20  MULTIPOLYGON (((529906.2 167417.3, 529902.2 16...         1401
21  MULTIPOLYGON (((523489.6 176224.8, 523500.6 17...         4314
22  MULTIPOLYGON (((521975.8 178100, 521973 178109...         3709
23  MULTIPOLYGON (((526219.7 176948, 526208.8 1769...         5665
24  MULTIPOLYGON (((528549.5 177903.8, 528542.6 17...         9779
25  MULTIPOLYGON (((528840.2 187217.8, 528834.6 18...         5645
26  MULTIPOLYGON (((533387.6 180516.4, 533389.8 18...         6847
27  MULTIPOLYGON (((529153.6 185861.4, 529144.8 18...         4549
28  MULTIPOLYGON (((531928.4 187801.5, 531935.7 18...         6005
29  MULTIPOLYGON (((531928.4 187801.5, 531919.2 18...         2308
30  MULTIPOLYGON (((544065 183254.1, 544062.9 1832...         2175
31  MULTIPOLYGON (((543905.4 183199.1, 543905 1831...          519
32  MULTIPOLYGON (((531145.1 180782.1, 531143.8 18...          530

In [45]:
station = station.to_crs(epsg=27700)
line = line.to_crs(epsg=27700)
station_join = gpd.sjoin(station, borough, how="inner", predicate="within")
station_counts = station_join.groupby('GSS_CODE').size().reset_index(name='station_count')
regression1 = borough_list.merge(station_counts,on='GSS_CODE', how='left')
print(regression1)
line_join = gpd.sjoin(line, borough, how="inner", predicate="within")
line_join['line_length'] = line_join.geometry.length
lengths_per_borough = line_join.groupby('GSS_CODE')['line_length'].sum().reset_index()
regression2 = regression1.merge(lengths_per_borough,on='GSS_CODE', how='left')
print(regression2)

     GSS_CODE                    NAME   HECTARES  NONLD_AREA ONS_INNER  \
0   E09000021    Kingston upon Thames   3726.117       0.000         F
1   E09000008                 Croydon   8649.441       0.000         F
2   E09000006                 Bromley  15013.487       0.000         F
3   E09000018                Hounslow   5658.541      60.755         F
4   E09000009                  Ealing   5554.428       0.000         F
5   E09000016                Havering  11445.735     210.763         F
6   E09000017              Hillingdon  11570.063       0.000         F
7   E09000015                  Harrow   5046.330       0.000         F
8   E09000005                   Brent   4323.270       0.000         F
9   E09000003                  Barnet   8674.837       0.000         F
10  E09000022                 Lambeth   2724.940      43.927         T
11  E09000028               Southwark   2991.340     105.139         T
12  E09000023                Lewisham   3531.706      16.795         T
13  E09000011               Greenwich   5044.190     310.785         F
14  E09000004                  Bexley   6428.649     370.619         F
15  E09000010                 Enfield   8220.025       0.000         F
16  E09000031          Waltham Forest   3880.793       0.000         F
17  E09000026               Redbridge   5644.225       2.300         F
18  E09000029                  Sutton   4384.698       0.000         F
19  E09000027    Richmond upon Thames   5876.111     135.443         F
20  E09000024                  Merton   3762.466       0.000         F
21  E09000032              Wandsworth   3522.022      95.600         T
22  E09000013  Hammersmith and Fulham   1715.409      75.648         T
23  E09000020  Kensington and Chelsea   1238.379      25.994         T
24  E09000033             Westminster   2203.005      54.308         T
25  E09000007                  Camden   2178.932       0.000         T
26  E09000030           Tower Hamlets   2157.501     179.707         T
27  E09000019               Islington   1485.664       0.000         T
28  E09000012                 Hackney   1904.902       0.000         T
29  E09000014                Haringey   2959.837       0.000         T
30  E09000025                  Newham   3857.806     237.637         T
31  E09000002    Barking and Dagenham   3779.934     169.150         F
32  E09000001          City of London    314.942      24.546         T

                                             geometry  point_count  \
0   MULTIPOLYGON (((516401.6 160201.8, 516407.3 16...          678
1   MULTIPOLYGON (((535009.2 159504.7, 535005.5 15...         1414
2   MULTIPOLYGON (((540373.6 157530.4, 540361.2 15...          733
3   MULTIPOLYGON (((521975.8 178100, 521967.7 1780...         1203
4   MULTIPOLYGON (((510253.5 182881.6, 510249.9 18...         2084
5   MULTIPOLYGON (((549893.9 181459.8, 549894.6 18...          368
6   MULTIPOLYGON (((510599.8 191689.5, 510615.2 19...          796
7   MULTIPOLYGON (((510599.8 191689.5, 510660 1916...          478
8   MULTIPOLYGON (((525201 182512.6, 525181.5 1825...         2633
9   MULTIPOLYGON (((524579.9 198355.2, 524594.3 19...         2125
10  MULTIPOLYGON (((530046.8 177893.4, 530048.4 17...         4673
11  MULTIPOLYGON (((531335.6 180529.5, 531337.7 18...         4900
12  MULTIPOLYGON (((536691 178958.6, 536691.9 1789...         2503
13  MULTIPOLYGON (((537238.7 178137.7, 537242.6 17...         1858
14  MULTIPOLYGON (((547226.2 181299.3, 547320.9 18...          455
15  MULTIPOLYGON (((531023.5 200933.6, 531039.9 20...          769
16  MULTIPOLYGON (((539923.1 191863.1, 539928.1 19...         1639
17  MULTIPOLYGON (((543595.5 184832.8, 543577.1 18...          793
18  MULTIPOLYGON (((528552.3 159658.1, 528399.7 15...          357
19  MULTIPOLYGON (((516677.5 175383.8, 516678.6 17...         1222
20  MULTIPOLYGON (((529906.2 167417.3, 529902.2 16...         1401
21  MULTIPOLYGON (((523489.6 176224.8, 523500.6 17...         4314
22  MULTIPOLYGON (((521975.8 178100, 521973 178109...         3709
23  MULTIPOLYGON (((526219.7 176948, 526208.8 1769...         5665
24  MULTIPOLYGON (((528549.5 177903.8, 528542.6 17...         9779
25  MULTIPOLYGON (((528840.2 187217.8, 528834.6 18...         5645
26  MULTIPOLYGON (((533387.6 180516.4, 533389.8 18...         6847
27  MULTIPOLYGON (((529153.6 185861.4, 529144.8 18...         4549
28  MULTIPOLYGON (((531928.4 187801.5, 531935.7 18...         6005
29  MULTIPOLYGON (((531928.4 187801.5, 531919.2 18...         2308
30  MULTIPOLYGON (((544065 183254.1, 544062.9 1832...         2175
31  MULTIPOLYGON (((543905.4 183199.1, 543905 1831...          519
32  MULTIPOLYGON (((531145.1 180782.1, 531143.8 18...          530

    station_count
0              10
1              39
2              28
3              15
4              24
5               9
6              17
7              13
8              26
9              19
10             20
11             18
12             21
13             17
14             10
15             23
16             12
17             15
18             11
19             14
20             21
21             14
22             16
23             12
24             30
25             27
26             28
27             16
28             15
29             15
30             28
31              7
32             13
     GSS_CODE                    NAME   HECTARES  NONLD_AREA ONS_INNER  \
0   E09000021    Kingston upon Thames   3726.117       0.000         F
1   E09000008                 Croydon   8649.441       0.000         F
2   E09000006                 Bromley  15013.487       0.000         F
3   E09000018                Hounslow   5658.541      60.755         F
4   E09000009                  Ealing   5554.428       0.000         F
5   E09000016                Havering  11445.735     210.763         F
6   E09000017              Hillingdon  11570.063       0.000         F
7   E09000015                  Harrow   5046.330       0.000         F
8   E09000005                   Brent   4323.270       0.000         F
9   E09000003                  Barnet   8674.837       0.000         F
10  E09000022                 Lambeth   2724.940      43.927         T
11  E09000028               Southwark   2991.340     105.139         T
12  E09000023                Lewisham   3531.706      16.795         T
13  E09000011               Greenwich   5044.190     310.785         F
14  E09000004                  Bexley   6428.649     370.619         F
15  E09000010                 Enfield   8220.025       0.000         F
16  E09000031          Waltham Forest   3880.793       0.000         F
17  E09000026               Redbridge   5644.225       2.300         F
18  E09000029                  Sutton   4384.698       0.000         F
19  E09000027    Richmond upon Thames   5876.111     135.443         F
20  E09000024                  Merton   3762.466       0.000         F
21  E09000032              Wandsworth   3522.022      95.600         T
22  E09000013  Hammersmith and Fulham   1715.409      75.648         T
23  E09000020  Kensington and Chelsea   1238.379      25.994         T
24  E09000033             Westminster   2203.005      54.308         T
25  E09000007                  Camden   2178.932       0.000         T
26  E09000030           Tower Hamlets   2157.501     179.707         T
27  E09000019               Islington   1485.664       0.000         T
28  E09000012                 Hackney   1904.902       0.000         T
29  E09000014                Haringey   2959.837       0.000         T
30  E09000025                  Newham   3857.806     237.637         T
31  E09000002    Barking and Dagenham   3779.934     169.150         F
32  E09000001          City of London    314.942      24.546         T

                                             geometry  point_count  \
0   MULTIPOLYGON (((516401.6 160201.8, 516407.3 16...          678
1   MULTIPOLYGON (((535009.2 159504.7, 535005.5 15...         1414
2   MULTIPOLYGON (((540373.6 157530.4, 540361.2 15...          733
3   MULTIPOLYGON (((521975.8 178100, 521967.7 1780...         1203
4   MULTIPOLYGON (((510253.5 182881.6, 510249.9 18...         2084
5   MULTIPOLYGON (((549893.9 181459.8, 549894.6 18...          368
6   MULTIPOLYGON (((510599.8 191689.5, 510615.2 19...          796
7   MULTIPOLYGON (((510599.8 191689.5, 510660 1916...          478
8   MULTIPOLYGON (((525201 182512.6, 525181.5 1825...         2633
9   MULTIPOLYGON (((524579.9 198355.2, 524594.3 19...         2125
10  MULTIPOLYGON (((530046.8 177893.4, 530048.4 17...         4673
11  MULTIPOLYGON (((531335.6 180529.5, 531337.7 18...         4900
12  MULTIPOLYGON (((536691 178958.6, 536691.9 1789...         2503
13  MULTIPOLYGON (((537238.7 178137.7, 537242.6 17...         1858
14  MULTIPOLYGON (((547226.2 181299.3, 547320.9 18...          455
15  MULTIPOLYGON (((531023.5 200933.6, 531039.9 20...          769
16  MULTIPOLYGON (((539923.1 191863.1, 539928.1 19...         1639
17  MULTIPOLYGON (((543595.5 184832.8, 543577.1 18...          793
18  MULTIPOLYGON (((528552.3 159658.1, 528399.7 15...          357
19  MULTIPOLYGON (((516677.5 175383.8, 516678.6 17...         1222
20  MULTIPOLYGON (((529906.2 167417.3, 529902.2 16...         1401
21  MULTIPOLYGON (((523489.6 176224.8, 523500.6 17...         4314
22  MULTIPOLYGON (((521975.8 178100, 521973 178109...         3709
23  MULTIPOLYGON (((526219.7 176948, 526208.8 1769...         5665
24  MULTIPOLYGON (((528549.5 177903.8, 528542.6 17...         9779
25  MULTIPOLYGON (((528840.2 187217.8, 528834.6 18...         5645
26  MULTIPOLYGON (((533387.6 180516.4, 533389.8 18...         6847
27  MULTIPOLYGON (((529153.6 185861.4, 529144.8 18...         4549
28  MULTIPOLYGON (((531928.4 187801.5, 531935.7 18...         6005
29  MULTIPOLYGON (((531928.4 187801.5, 531919.2 18...         2308
30  MULTIPOLYGON (((544065 183254.1, 544062.9 1832...         2175
31  MULTIPOLYGON (((543905.4 183199.1, 543905 1831...          519
32  MULTIPOLYGON (((531145.1 180782.1, 531143.8 18...          530

    station_count    line_length
0              10   22865.354828
1              39   94954.551625
2              28  113251.934072
3              15   29408.403027
4              24   61884.741905
5               9   26453.739083
6              17   75305.458810
7              13   15379.157840
8              26   48523.207082
9              19   35902.404011
10             20   47187.781212
11             18   47309.736258
12             21   50895.823730
13             17   34092.031702
14             10   31086.371615
15             23   54626.654012
16             12   26438.255109
17             15   14717.118288
18             11   36571.347000
19             14   39496.542433
20             21   44251.503842
21             14   26783.570005
22             16   10859.065842
23             12   12552.062742
24             30   40442.709221
25             27   39264.141484
26             28   24886.516762
27             16   19808.970918
28             15   21297.731509
29             15   22269.251605
30             28   31097.213511
31              7   21885.739494
32             13    9277.677198

In [51]:
inequity['Area'] = inequity['Area'].str.replace('&','and')
pop_inequity = pd.merge(pop, inequity, left_on='NAME', right_on='Area', how='left')
print(pop_inequity)

     GSS_CODE                    NAME     POPULATION                    Area  \
0   E09000001          City of London    8503.050827          City of London
1   E09000002    Barking and Dagenham  233095.228667    Barking and Dagenham
2   E09000003                  Barnet  419517.213165                  Barnet
3   E09000004                  Bexley  253518.280320                  Bexley
4   E09000005                   Brent  357609.208033                   Brent
5   E09000006                 Bromley  341275.567908                 Bromley
6   E09000007                  Camden  247361.388715                  Camden
7   E09000008                 Croydon  406963.701982                 Croydon
8   E09000009                  Ealing  375617.597229                  Ealing
9   E09000010                 Enfield  363012.800484                 Enfield
10  E09000011               Greenwich  289170.847569               Greenwich
11  E09000012                 Hackney  289491.503703                 Hackney
12  E09000013  Hammersmith and Fulham  186936.741487  Hammersmith and Fulham
13  E09000014                Haringey  288519.037328                Haringey
14  E09000015                  Harrow  270225.431099                  Harrow
15  E09000016                Havering  266326.741189                Havering
16  E09000017              Hillingdon  324934.936231              Hillingdon
17  E09000018                Hounslow  298941.785988                Hounslow
18  E09000019               Islington  242584.175661               Islington
19  E09000020  Kensington and Chelsea  155753.100609  Kensington and Chelsea
20  E09000021    Kingston upon Thames  181963.222330    Kingston upon Thames
21  E09000022                 Lambeth  342404.540883                 Lambeth
22  E09000023                Lewisham  317014.389482                Lewisham
23  E09000024                  Merton  226457.289709                  Merton
24  E09000025                  Newham  378383.462527                  Newham
25  E09000026               Redbridge  333006.170079               Redbridge
26  E09000027    Richmond upon Thames  205916.680737    Richmond upon Thames
27  E09000028               Southwark  327755.480203               Southwark
28  E09000029                  Sutton  217107.390831                  Sutton
29  E09000030           Tower Hamlets  319738.359875           Tower Hamlets
30  E09000031          Waltham Forest  303385.384734          Waltham Forest
31  E09000032              Wandsworth  332173.418699              Wandsworth
32  E09000033             Westminster  242315.616129             Westminster

    Poverty rate  Child poverty rate (AHC)  \
0            NaN                       NaN
1           30.0                      42.0
2           26.0                      25.0
3           20.0                      26.0
4           31.0                      35.0
5           16.0                      20.0
6           43.0                      39.0
7           22.0                      31.0
8           31.0                      31.0
9           31.0                      31.0
10          26.0                      37.0
11          28.0                      43.0
12          19.0                      28.0
13          23.0                      35.0
14          22.0                      31.0
15          19.0                      28.0
16          25.0                      30.0
17          29.0                      32.0
18          20.0                      38.0
19          28.0                      23.0
20          21.0                      19.0
21          25.0                      36.0
22          29.0                      33.0
23          15.0                      27.0
24          38.0                      44.0
25          30.0                      33.0
26          12.0                      12.0
27          21.0                      37.0
28          22.0                      23.0
29          41.0                      48.0
30          23.0                      38.0
31          30.0                      28.0
32          42.0                      30.0

    Income deprivation (relative to London overall)  80:20 ratio of earnings  \
0                                              0.42                      NaN
1                                              1.90                     2.05
2                                              0.77                     2.41
3                                              0.70                     2.29
4                                              1.11                     2.42
5                                              0.58                     2.57
6                                              1.18                     2.48
7                                              1.01                     2.41
8                                              1.00                     2.33
9                                              1.49                     2.35
10                                             1.26                     2.49
11                                             1.80                     2.44
12                                             1.03                     2.51
13                                             1.43                     2.50
14                                             0.82                     2.56
15                                             0.69                     2.47
16                                             0.85                     2.44
17                                             0.96                     2.35
18                                             1.58                     2.28
19                                             0.70                      NaN
20                                             0.59                     2.71
21                                             1.19                     2.49
22                                             1.39                     2.52
23                                             0.67                     2.65
24                                             1.49                     2.39
25                                             0.91                     2.40
26                                             0.50                      NaN
27                                             1.50                     2.65
28                                             0.63                     2.50
29                                             2.03                     2.37
30                                             1.14                     2.41
31                                             0.77                     2.63
32                                             0.87                     2.62

    Main homelessness duty owed per 1,000 households  \
0                                               0.69
1                                               0.75
2                                               0.74
3                                               0.42
4                                               1.18
5                                               1.73
6                                               0.53
7                                               0.61
8                                               1.13
9                                               0.49
10                                              1.58
11                                              1.56
12                                              0.76
13                                              1.09
14                                              0.70
15                                              1.20
16                                              1.12
17                                              1.59
18                                              1.20
19                                              0.51
20                                              0.40
21                                              3.26
22                                              0.78
23                                              0.56
24                                              1.71
25                                              1.59
26                                              1.03
27                                              1.56
28                                              0.94
29                                              0.45
30                                              1.10
31                                              2.11
32                                              1.58

    Households in temporary accommodation per 1,000  ...  \
0                                              7.21  ...
1                                             15.47  ...
2                                             13.97  ...
3                                              5.68  ...
4                                             13.97  ...
5                                             11.01  ...
6                                              5.48  ...
7                                             12.18  ...
8                                             21.91  ...
9                                             23.57  ...
10                                            14.39  ...
11                                            25.21  ...
12                                            14.85  ...
13                                            23.14  ...
14                                            12.16  ...
15                                            10.19  ...
16                                             9.68  ...
17                                             5.16  ...
18                                            10.38  ...
19                                            24.98  ...
20                                            12.84  ...
21                                              NaN  ...
22                                            20.00  ...
23                                             5.13  ...
24                                            50.96  ...
25                                            27.03  ...
26                                             6.18  ...
27                                            26.47  ...
28                                            11.01  ...
29                                            19.63  ...
30                                             9.32  ...
31                                            23.84  ...
32                                            24.19  ...

    People seen sleeping rough by outreach  \
0                                      482
1                                      139
2                                      166
3                                       92
4                                      373
5                                       92
6                                      719
7                                      373
8                                      563
9                                      219
10                                     196
11                                     246
12                                     238
13                                     304
14                                      96
15                                      79
16                                     167
17                                     196
18                                     337
19                                     199
20                                     120
21                                     623
22                                     296
23                                      63
24                                     503
25                                     248
26                                      86
27                                     435
28                                      30
29                                     460
30                                     186
31                                     173
32                                    2050

    Proportion of borough residents' jobs that are low paid  \
0                                                 NaN
1                                                24.6
2                                                18.9
3                                                16.7
4                                                23.3
5                                                14.0
6                                                12.2
7                                                16.3
8                                                19.8
9                                                22.8
10                                               14.2
11                                               16.7
12                                                9.9
13                                               20.0
14                                               19.6
15                                               16.2
16                                               17.8
17                                               19.5
18                                               12.1
19                                               10.0
20                                               14.0
21                                               10.6
22                                               17.7
23                                               13.1
24                                               20.0
25                                               19.6
26                                               11.5
27                                               15.5
28                                               17.5
29                                               10.1
30                                               17.0
31                                                9.7
32                                               11.5

    Unemployment rate  Unemployment rate 1 year change  Out-of-work benefits  \
0                 NaN                              NaN                   NaN
1                 7.0                              2.2                  17.6
2                 4.9                             -0.2                  12.4
3                 4.9                              2.1                  10.9
4                 5.6                             -1.2                  15.9
5                 5.6                              2.5                  10.0
6                 6.6                              3.4                  13.5
7                 4.7                             -0.7                  15.3
8                 4.4                             -0.9                  13.8
9                 5.2                             -0.6                  17.6
10                4.2                             -0.3                  14.4
11                4.1                             -1.1                  17.0
12                5.3                              1.9                  12.4
13                4.8                              0.0                  17.2
14                4.1                             -0.7                  10.8
15                4.2                              1.2                  11.7
16                6.8                              2.8                  11.7
17                4.6                             -0.5                  13.3
18                5.8                              2.8                  16.1
19                5.8                              2.1                  10.7
20                5.4                              3.1                   8.5
21                4.3                              0.3                  13.6
22                4.8                              0.1                  16.0
23                4.5                              1.3                  10.5
24                4.9                             -0.4                  15.3
25                5.3                              0.5                  12.2
26                5.5                              2.8                   7.3
27                4.1                             -0.5                  13.6
28                5.7                              2.6                  10.5
29                6.5                              2.3                  14.6
30                4.5                             -1.5                  14.7
31                4.6                              2.2                   9.2
32                5.7                              2.6                  12.8

    19 year olds without level 3 qualifications  \
0                                           NaN
1                                          35.3
2                                          21.7
3                                          37.1
4                                          28.1
5                                          31.5
6                                          27.8
7                                          39.0
8                                          24.3
9                                          35.8
10                                         35.5
11                                         28.9
12                                         25.8
13                                         35.4
14                                         23.3
15                                         34.5
16                                         32.5
17                                         26.0
18                                         36.1
19                                         22.3
20                                         24.9
21                                         39.5
22                                         36.8
23                                         32.4
24                                         29.3
25                                         22.3
26                                         23.7
27                                         29.2
28                                         24.9
29                                         25.0
30                                         31.2
31                                         33.1
32                                         25.9

    Infant mortality rate per 1,000 live births  \
0                                           NaN
1                                           4.2
2                                           2.4
3                                           4.7
4                                           1.8
5                                           2.3
6                                           4.8
7                                           2.5
8                                           2.0
9                                           3.3
10                                          3.7
11                                          5.2
12                                          5.0
13                                          1.6
14                                          3.3
15                                          2.6
16                                          5.4
17                                          2.6
18                                          2.0
19                                          2.9
20                                          2.3
21                                          5.4
22                                          2.6
23                                          4.4
24                                          2.7
25                                          3.3
26                                          NaN
27                                          3.8
28                                          3.6
29                                          3.9
30                                          4.5
31                                          2.1
32                                          4.1

    Deaths of <75 year olds per 100,000  \
0                                   NaN
1                                 433.0
2                                 258.0
3                                 308.0
4                                 305.0
5                                 250.0
6                                 324.0

In [52]:
regression3 = regression2.merge(pop_inequity,on='GSS_CODE', how='left')
print(regression3)

     GSS_CODE                  NAME_x   HECTARES  NONLD_AREA ONS_INNER  \
0   E09000021    Kingston upon Thames   3726.117       0.000         F
1   E09000008                 Croydon   8649.441       0.000         F
2   E09000006                 Bromley  15013.487       0.000         F
3   E09000018                Hounslow   5658.541      60.755         F
4   E09000009                  Ealing   5554.428       0.000         F
5   E09000016                Havering  11445.735     210.763         F
6   E09000017              Hillingdon  11570.063       0.000         F
7   E09000015                  Harrow   5046.330       0.000         F
8   E09000005                   Brent   4323.270       0.000         F
9   E09000003                  Barnet   8674.837       0.000         F
10  E09000022                 Lambeth   2724.940      43.927         T
11  E09000028               Southwark   2991.340     105.139         T
12  E09000023                Lewisham   3531.706      16.795         T
13  E09000011               Greenwich   5044.190     310.785         F
14  E09000004                  Bexley   6428.649     370.619         F
15  E09000010                 Enfield   8220.025       0.000         F
16  E09000031          Waltham Forest   3880.793       0.000         F
17  E09000026               Redbridge   5644.225       2.300         F
18  E09000029                  Sutton   4384.698       0.000         F
19  E09000027    Richmond upon Thames   5876.111     135.443         F
20  E09000024                  Merton   3762.466       0.000         F
21  E09000032              Wandsworth   3522.022      95.600         T
22  E09000013  Hammersmith and Fulham   1715.409      75.648         T
23  E09000020  Kensington and Chelsea   1238.379      25.994         T
24  E09000033             Westminster   2203.005      54.308         T
25  E09000007                  Camden   2178.932       0.000         T
26  E09000030           Tower Hamlets   2157.501     179.707         T
27  E09000019               Islington   1485.664       0.000         T
28  E09000012                 Hackney   1904.902       0.000         T
29  E09000014                Haringey   2959.837       0.000         T
30  E09000025                  Newham   3857.806     237.637         T
31  E09000002    Barking and Dagenham   3779.934     169.150         F
32  E09000001          City of London    314.942      24.546         T

                                             geometry  point_count  \
0   MULTIPOLYGON (((516401.6 160201.8, 516407.3 16...          678
1   MULTIPOLYGON (((535009.2 159504.7, 535005.5 15...         1414
2   MULTIPOLYGON (((540373.6 157530.4, 540361.2 15...          733
3   MULTIPOLYGON (((521975.8 178100, 521967.7 1780...         1203
4   MULTIPOLYGON (((510253.5 182881.6, 510249.9 18...         2084
5   MULTIPOLYGON (((549893.9 181459.8, 549894.6 18...          368
6   MULTIPOLYGON (((510599.8 191689.5, 510615.2 19...          796
7   MULTIPOLYGON (((510599.8 191689.5, 510660 1916...          478
8   MULTIPOLYGON (((525201 182512.6, 525181.5 1825...         2633
9   MULTIPOLYGON (((524579.9 198355.2, 524594.3 19...         2125
10  MULTIPOLYGON (((530046.8 177893.4, 530048.4 17...         4673
11  MULTIPOLYGON (((531335.6 180529.5, 531337.7 18...         4900
12  MULTIPOLYGON (((536691 178958.6, 536691.9 1789...         2503
13  MULTIPOLYGON (((537238.7 178137.7, 537242.6 17...         1858
14  MULTIPOLYGON (((547226.2 181299.3, 547320.9 18...          455
15  MULTIPOLYGON (((531023.5 200933.6, 531039.9 20...          769
16  MULTIPOLYGON (((539923.1 191863.1, 539928.1 19...         1639
17  MULTIPOLYGON (((543595.5 184832.8, 543577.1 18...          793
18  MULTIPOLYGON (((528552.3 159658.1, 528399.7 15...          357
19  MULTIPOLYGON (((516677.5 175383.8, 516678.6 17...         1222
20  MULTIPOLYGON (((529906.2 167417.3, 529902.2 16...         1401
21  MULTIPOLYGON (((523489.6 176224.8, 523500.6 17...         4314
22  MULTIPOLYGON (((521975.8 178100, 521973 178109...         3709
23  MULTIPOLYGON (((526219.7 176948, 526208.8 1769...         5665
24  MULTIPOLYGON (((528549.5 177903.8, 528542.6 17...         9779
25  MULTIPOLYGON (((528840.2 187217.8, 528834.6 18...         5645
26  MULTIPOLYGON (((533387.6 180516.4, 533389.8 18...         6847
27  MULTIPOLYGON (((529153.6 185861.4, 529144.8 18...         4549
28  MULTIPOLYGON (((531928.4 187801.5, 531935.7 18...         6005
29  MULTIPOLYGON (((531928.4 187801.5, 531919.2 18...         2308
30  MULTIPOLYGON (((544065 183254.1, 544062.9 1832...         2175
31  MULTIPOLYGON (((543905.4 183199.1, 543905 1831...          519
32  MULTIPOLYGON (((531145.1 180782.1, 531143.8 18...          530

    station_count    line_length                  NAME_y  ...  \
0              10   22865.354828    Kingston upon Thames  ...
1              39   94954.551625                 Croydon  ...
2              28  113251.934072                 Bromley  ...
3              15   29408.403027                Hounslow  ...
4              24   61884.741905                  Ealing  ...
5               9   26453.739083                Havering  ...
6              17   75305.458810              Hillingdon  ...
7              13   15379.157840                  Harrow  ...
8              26   48523.207082                   Brent  ...
9              19   35902.404011                  Barnet  ...
10             20   47187.781212                 Lambeth  ...
11             18   47309.736258               Southwark  ...
12             21   50895.823730                Lewisham  ...
13             17   34092.031702               Greenwich  ...
14             10   31086.371615                  Bexley  ...
15             23   54626.654012                 Enfield  ...
16             12   26438.255109          Waltham Forest  ...
17             15   14717.118288               Redbridge  ...
18             11   36571.347000                  Sutton  ...
19             14   39496.542433    Richmond upon Thames  ...
20             21   44251.503842                  Merton  ...
21             14   26783.570005              Wandsworth  ...
22             16   10859.065842  Hammersmith and Fulham  ...
23             12   12552.062742  Kensington and Chelsea  ...
24             30   40442.709221             Westminster  ...
25             27   39264.141484                  Camden  ...
26             28   24886.516762           Tower Hamlets  ...
27             16   19808.970918               Islington  ...
28             15   21297.731509                 Hackney  ...
29             15   22269.251605                Haringey  ...
30             28   31097.213511                  Newham  ...
31              7   21885.739494    Barking and Dagenham  ...
32             13    9277.677198          City of London  ...

    People seen sleeping rough by outreach  \
0                                      120
1                                      373
2                                       92
3                                      196
4                                      563
5                                       79
6                                      167
7                                       96
8                                      373
9                                      166
10                                     623
11                                     435
12                                     296
13                                     196
14                                      92
15                                     219
16                                     186
17                                     248
18                                      30
19                                      86
20                                      63
21                                     173
22                                     238
23                                     199
24                                    2050
25                                     719
26                                     460
27                                     337
28                                     246
29                                     304
30                                     503
31                                     139
32                                     482

   Proportion of borough residents' jobs that are low paid  Unemployment rate  \
0                                                14.0                     5.4
1                                                16.3                     4.7
2                                                14.0                     5.6
3                                                19.5                     4.6
4                                                19.8                     4.4
5                                                16.2                     4.2
6                                                17.8                     6.8
7                                                19.6                     4.1
8                                                23.3                     5.6
9                                                18.9                     4.9
10                                               10.6                     4.3
11                                               15.5                     4.1
12                                               17.7                     4.8
13                                               14.2                     4.2
14                                               16.7                     4.9
15                                               22.8                     5.2
16                                               17.0                     4.5
17                                               19.6                     5.3
18                                               17.5                     5.7
19                                               11.5                     5.5
20                                               13.1                     4.5
21                                                9.7                     4.6
22                                                9.9                     5.3
23                                               10.0                     5.8
24                                               11.5                     5.7
25                                               12.2                     6.6
26                                               10.1                     6.5
27                                               12.1                     5.8
28                                               16.7                     4.1
29                                               20.0                     4.8
30                                               20.0                     4.9
31                                               24.6                     7.0
32                                                NaN                     NaN

    Unemployment rate 1 year change  Out-of-work benefits  \
0                               3.1                   8.5
1                              -0.7                  15.3
2                               2.5                  10.0
3                              -0.5                  13.3
4                              -0.9                  13.8
5                               1.2                  11.7
6                               2.8                  11.7
7                              -0.7                  10.8
8                              -1.2                  15.9
9                              -0.2                  12.4
10                              0.3                  13.6
11                             -0.5                  13.6
12                              0.1                  16.0
13                             -0.3                  14.4
14                              2.1                  10.9
15                             -0.6                  17.6
16                             -1.5                  14.7
17                              0.5                  12.2
18                              2.6                  10.5
19                              2.8                   7.3
20                              1.3                  10.5
21                              2.2                   9.2
22                              1.9                  12.4
23                              2.1                  10.7
24                              2.6                  12.8
25                              3.4                  13.5
26                              2.3                  14.6
27                              2.8                  16.1
28                             -1.1                  17.0
29                              0.0                  17.2
30                             -0.4                  15.3
31                              2.2                  17.6
32                              NaN                   NaN

    19 year olds without level 3 qualifications  \
0                                          24.9
1                                          39.0
2                                          31.5
3                                          26.0
4                                          24.3
5                                          34.5
6                                          32.5
7                                          23.3
8                                          28.1
9                                          21.7
10                                         39.5
11                                         29.2
12                                         36.8
13                                         35.5
14                                         37.1
15                                         35.8
16                                         31.2
17                                         22.3
18                                         24.9
19                                         23.7
20                                         32.4
21                                         33.1
22                                         25.8
23                                         22.3
24                                         25.9
25                                         27.8
26                                         25.0
27                                         36.1
28                                         28.9
29                                         35.4
30                                         29.3
31                                         35.3
32                                          NaN

    Infant mortality rate per 1,000 live births  \
0                                           2.3
1                                           2.5
2                                           2.3
3                                           2.6
4                                           2.0
5                                           2.6
6                                           5.4
7                                           3.3
8                                           1.8
9                                           2.4
10                                          5.4
11                                          3.8
12                                          2.6
13                                          3.7
14                                          4.7
15                                          3.3
16                                          4.5
17                                          3.3
18                                          3.6
19                                          NaN
20                                          4.4
21                                          2.1
22                                          5.0
23                                          2.9
24                                          4.1
25                                          4.8
26                                          3.9
27                                          2.0
28                                          5.2
29                                          1.6
30                                          2.7
31                                          4.2
32                                          NaN

    Deaths of <75 year olds per 100,000  \
0                                 259.0
1                                 314.0
2                                 250.0
3                                 314.0
4                                 300.0
5                                 321.0
6                                 317.0
7                                 250.0
8                                 305.0
9                                 258.0
10                                356.0
11                                345.0
12                                369.0
13                                331.0
14                                308.0
15                                297.0
16                                333.0
17                                297.0
18                                291.0
19                                225.0
20                                264.0
21                                282.0
22                                325.0
23                                265.0
24                                264.0
25                                324.0
26                                394.0
27                                371.0
28                                404.0
29                                323.0
30                                363.0
31                                433.0
32                                  NaN

    Percentage of pupils who achieved grade 9-4  \
0                                          81.0
1                                          64.5
2                                          73.2
3                                          72.0
4                                          73.7
5                                          69.4
6                                          70.1
7                                          71.4
8                                          68.0
9                                          80.1
10                                         62.9
11                                         73.1
12                                         61.0
13                                         66.3
14                                         69.4
15                                         65.7
16                                         64.8
17                                         78.3
18                                         82.5
19                                         80.0
20                                         73.9
21                                         71.1
22                                         77.2
23                                         75.4
24                                         76.0
25                                         67.9
26                                         69.3
27                                         65.6
28                                         71.7
29                                         65.9
30                                         71.8
31                                         66.0
32                                          NaN

    Proportion with no qualifications
0                                 NaN
1                                 6.1
2                                 4.4
3                                 5.0
4                                 7.3
5                                 6.9
6                                 7.1
7                                 NaN
8                                 7.6
9                                 6.9
10                                3.9
11                                6.2
12                                6.1
13                                4.4
14                                7.4
15                                4.4
16                                3.5
17                                7.4
18                                5.3
19                                2.8

In [54]:
regression_Column = regression3.columns.to_list()
print(regression_Column)

['GSS_CODE', 'NAME_x', 'HECTARES', 'NONLD_AREA', 'ONS_INNER', 'geometry', 'point_count', 'station_count', 'line_length', 'NAME_y', 'POPULATION', 'Area', 'Poverty rate', 'Child poverty rate (AHC)', 'Income deprivation (relative to London overall)', '80:20 ratio of earnings', 'Main homelessness duty owed per 1,000 households', 'Households in temporary accommodation per 1,000', 'Repossessions per 1,000 households', 'Median rent as a percentage of median pay', 'Average net affordable, social and discounted housing completions', 'People seen sleeping rough by outreach', "Proportion of borough residents' jobs that are low paid", 'Unemployment rate', 'Unemployment rate 1 year change', 'Out-of-work benefits', '19 year olds without level 3 qualifications', 'Infant mortality rate per 1,000 live births', 'Deaths of <75 year olds per 100,000', 'Percentage of pupils who achieved grade 9-4', 'Proportion with no qualifications']

In [63]:
regression4 = regression3[['GSS_CODE','Area','HECTARES','Poverty rate','station_count','line_length','POPULATION','point_count','80:20 ratio of earnings']]
regression4['population density'] = regression3['POPULATION'] / regression3['HECTARES']
regression_all = regression4.drop(columns=['POPULATION', 'HECTARES'])
print(regression_all)

     GSS_CODE                    Area  Poverty rate  station_count  \
0   E09000021    Kingston upon Thames          21.0             10
1   E09000008                 Croydon          22.0             39
2   E09000006                 Bromley          16.0             28
3   E09000018                Hounslow          29.0             15
4   E09000009                  Ealing          31.0             24
5   E09000016                Havering          19.0              9
6   E09000017              Hillingdon          25.0             17
7   E09000015                  Harrow          22.0             13
8   E09000005                   Brent          31.0             26
9   E09000003                  Barnet          26.0             19
10  E09000022                 Lambeth          25.0             20
11  E09000028               Southwark          21.0             18
12  E09000023                Lewisham          29.0             21
13  E09000011               Greenwich          26.0             17
14  E09000004                  Bexley          20.0             10
15  E09000010                 Enfield          31.0             23
16  E09000031          Waltham Forest          23.0             12
17  E09000026               Redbridge          30.0             15
18  E09000029                  Sutton          22.0             11
19  E09000027    Richmond upon Thames          12.0             14
20  E09000024                  Merton          15.0             21
21  E09000032              Wandsworth          30.0             14
22  E09000013  Hammersmith and Fulham          19.0             16
23  E09000020  Kensington and Chelsea          28.0             12
24  E09000033             Westminster          42.0             30
25  E09000007                  Camden          43.0             27
26  E09000030           Tower Hamlets          41.0             28
27  E09000019               Islington          20.0             16
28  E09000012                 Hackney          28.0             15
29  E09000014                Haringey          23.0             15
30  E09000025                  Newham          38.0             28
31  E09000002    Barking and Dagenham          30.0              7
32  E09000001          City of London           NaN             13

      line_length  point_count  80:20 ratio of earnings  population density
0    22865.354828          678                     2.71           48.834543
1    94954.551625         1414                     2.41           47.050867
2   113251.934072          733                     2.57           22.731266
3    29408.403027         1203                     2.35           52.830188
4    61884.741905         2084                     2.33           67.624893
5    26453.739083          368                     2.47           23.268645
6    75305.458810          796                     2.44           28.084111
7    15379.157840          478                     2.56           53.548902
8    48523.207082         2633                     2.42           82.717297
9    35902.404011         2125                     2.41           48.360242
10   47187.781212         4673                     2.49          125.655809
11   47309.736258         4900                     2.65          109.568113
12   50895.823730         2503                     2.52           89.762395
13   34092.031702         1858                     2.49           57.327509
14   31086.371615          455                     2.29           39.435701
15   54626.654012          769                     2.35           44.162007
16   26438.255109         1639                     2.41           78.176132
17   14717.118288          793                     2.40           58.999450
18   36571.347000          357                     2.50           49.514788
19   39496.542433         1222                      NaN           35.043021
20   44251.503842         1401                     2.65           60.188528
21   26783.570005         4314                     2.63           94.313272
22   10859.065842         3709                     2.51          108.975027
23   12552.062742         5665                      NaN          125.771755
24   40442.709221         9779                     2.62          109.993221
25   39264.141484         5645                     2.48          113.524143
26   24886.516762         6847                     2.37          148.198476
27   19808.970918         4549                     2.28          163.283337
28   21297.731509         6005                     2.44          151.971862
29   22269.251605         2308                     2.50           97.478016
30   31097.213511         2175                     2.39           98.082553
31   21885.739494          519                     2.05           61.666481
32    9277.677198          530                      NaN           26.998783

/tmp/ipykernel_207/2287793015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regression4['population density'] = regression3['POPULATION'] / regression3['HECTARES']